/* ==UserStyle==
@name        tv.twitch.m; channel - stop chat from growing too much
@version     1.0.4
@description 2026/01/07
@namespace   https://github.com/ericchase/mod--twitch-web-client
==/UserStyle== */
@-moz-document regexp("^https:\\/\\/m\\.twitch\\.tv\\/(?!directory).+$") {
  main:not(#_) > div > div > div:nth-child(2) {
    position: fixed !important;
    margin-top: 3.75em;
  }
  [data-a-target='chat-scroller']:not(#_) {
    height: calc(100vh - 12em - 58vw);
  }
}
