/* ==UserStyle==
@name        tv.twitch; channel - hide sticky footer
@version     1.0.2
@description 2025/08/30
@namespace   https://github.com/ericchase/mod--twitch-web-client
==/UserStyle== */
@-moz-document regexp("^https:\\/\\/www\\.twitch\\.tv\\/(?!directory).+$") {
  footer#twilight-sticky-footer-root {
    display: none;
  }
}
